<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="RhinoCommon" version="8.31.26126.13431" targetFramework="net48" />
  <package id="RhinoWindows" version="8.31.26126.13431" targetFramework="net48" />
</packages>